.site-header {
  background: white;
}

.header-container {
  margin: 0 auto;
  padding: 30px 70px;
  font-weight: 700;
  font-size: 25px;
  letter-spacing: 0.3px;
}

.logo-ia {
  color: var(--primary);
  font-weight: 800;
}
