.header {
  height: 70px;
  background: white;
  border-bottom: 1px solid #e5e7eb;
  display: flex;
  align-items: center;
  padding: 0 2rem;
}

.logo {
  font-weight: 700;
  font-size: 1.5rem;
  color: #516fad;
}
